 <!-- About Section -->
    <section class="success section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>I'm Tamara, a graphic designer based in Barcelona. I have been working in graphic design since 2008 when I finished my studies in the field. After years working on offline projects I fell inlove with interaction and the digital world, so I decided to specialize in UI/UX design.
                    I enjoy learning from other professional profiles. I love lettering & typography.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                        <ul class="list-inline">
                            {% for network in site.social %}
                            <li>
                                <a href="{{ network.url }}" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
            </div>
        </div>
    </section>