//**
// Homepage
//**

@include mobilefirst($small-break) {
  .item-project {
    width: 50%;
    float: left;
  }

}

@include mobilefirst($big-break) {
  .item-project {
    width: 33.333%;
    float: left;
  }
}

//**
// GRID PROJECTS
//**

.title-grid {
  display: flex;
  -ms-display: flex;
  display: -webkit-flex;
  align-items: center;
  margin: 0 auto;
  text-transform: none;
  letter-spacing: 0;
  padding: 0 15%;
}

.item-project {
  position: relative;
}

.hover-projects {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -1px;
    left: 0;
    display: flex;
    -ms-display: flex;
    display: -webkit-flex;
    opacity: 0;
    text-align: center;
    background-color: rgba(255,255,255,.95);
        &:hover {
         zoom: 1;
         filter: alpha(opacity=50);
         opacity: 0.9;
            -webkit-transition: opacity .15s ease-in-out;
            -moz-transition: opacity .15s ease-in-out;
            -ms-transition: opacity .15s ease-in-out;
            -o-transition: opacity .15s ease-in-out;
            transition: opacity .15s ease-in-out;
    }
       h2 {
        color: black;
        font-size: 30px;
        line-height: 34px;
        font-weight: 100;

        //@include responsive(490px){
            //font-size: 34px;
            //line-height: 32px;
        //}
    }
}
