
//**
// Media
//**

img,
video,
audio,
iframe,
object {
  max-width: 100%;
}


.container {
  margin: 0 auto;
  width: 100%;
}

// Default button <a>
.btn {
  border-radius: $btn-br;
  background: transparent;
  border: 1px solid  $primary-color;
  color:  $primary-color;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 0;
  margin-top: 20px;
  outline: none;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;

  &:hover,
  &:focus {
    background: $primary-color;
    border-color:  $primary-color;
    color: #fff;
    text-decoration: none;
  }

  &:active {
    background: $primary-color;
    border-color: $primary-color;
  }
}

.menu-back {
  border-color: darken($silver, 20);
  color: darken($silver, 20);
  font-size: 12px;
  margin: 25px 0px 0px 8%;
  padding: 5px 25px;
}


ul {
  list-style: none;
}

//**
// NAVIGATION
//**

nav a {
  text-decoration: none;
  color: grey;
}

// Navigation top
.nav-project {
  border-top: solid 1px $background-color;
  background-color: white;
  width: 100%;

  i.icon-angle-right {
    padding: 5px;
    font-size: .7em;
  }

  a {
    color: #4c4c4c;
    text-transform: none;
    text-decoration: none;
  }
}

// Navigation bottom
.nav-next {
  margin-left: 50%;

  h3 {
    font-weight: 200;
    padding: 30px 0px 30px 20px;
    margin: 0;
    background-color: lighten(#7f7f7f, 40%);

    &:hover {
      background-color: $primary-color ;
      color: white;
    }
  }
}

//**
// FOOTER
//**

footer {
    background-color: #242A32;
    min-height: 300px;

    a {
        color: lighten(#242A32,50%);
        text-decoration: none;
        &:hover {
            color: lighten( $grey, 10% )
        }
    }
}
.info-footer {
    font-size: 14;
    font-weight: 200;
    color: lighten(#242A32,50%);
    text-align: center;

}
.container-center {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.list-inline > li {
display: inline;
}

.btn-social {
    padding: 8px;
    }

.ico-footer {
    width: 32px;
}

.ico-mail {
    padding-top: 10px;
}
